/* globals.css */
@import "tailwindcss";



:root,
[data-mantine-color-scheme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

[data-mantine-color-scheme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

